@media screen and (max-width: 600px) {
    .sidebar a:not(:first-child) {display: none;}
    .sidebar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .sidebar.responsive {position: relative;}
    .sidebar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .sidebar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }